* {
    background: #1d2021;
    background-alt: #282828;
    foreground: #ebdbb2;
    muted: #928374;
    blue: #83a598;
    red: #fb4934;
}

window {
    width: 38%;
    border: 2px;
    border-color: @blue;
    border-radius: 0px;
    background-color: @background;
}

mainbox {
    padding: 18px;
    spacing: 12px;
    background-color: transparent;
    children: [ inputbar, listview ];
}

inputbar {
    padding: 10px;
    spacing: 10px;
    background-color: @background-alt;
    text-color: @foreground;
    children: [ prompt, entry ];
}

prompt {
    text-color: @blue;
}

entry {
    placeholder: "search";
    placeholder-color: @muted;
    text-color: @foreground;
}

listview {
    lines: 8;
    columns: 1;
    spacing: 4px;
    fixed-height: false;
    scrollbar: false;
    background-color: transparent;
}

element {
    padding: 9px;
    background-color: transparent;
    text-color: @foreground;
}

element selected {
    background-color: @background-alt;
    text-color: @blue;
}

element-text {
    background-color: transparent;
    text-color: inherit;
}
